
h1 {
  color: #4d9900;
}

.selected {
  color: #993399;
}

.entry-form {
  margin-top: 25px;
  margin-bottom: 25px;
}

.input-sm {
  height: 26px;
  width: 100%;
}

.filter {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
